@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Montserrat:wght@200&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}
.container {
  background-color: black;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo-text, .nav--logo-title {
  margin: 0;
}

.nav--logo-text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--logo-title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  margin-right: 10px;
}